@use "sass:color";
@use './utils/variables' as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .3125rem .625rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: background .35s, color .35s;
  text-decoration: none;
  font-family: inherit;
  font-size: .875rem;
  line-height: 1.286;

  &_rounded_sm {
    border-radius: .3125rem;
  }

  &_rounded_full {
    border-radius: 3.125rem;
  }

  // Outline type.

  &_outline_red {
    border: .0625rem solid $color-red;
    color: $color-red;

    &:hover,
    &:focus {
      background-color: $color-red;
      color: #fff;
    }

    &:active {
      border-color: color.adjust($color-red, $lightness: -8%);
      background-color: color.adjust($color-red, $lightness: -8%);
    }
  }

  &_outline_blue {
    border: .0625rem solid $color-blue;
    color: $color-blue;

    &:hover,
    &:focus {
      background-color: $color-blue;
      color: #fff;
    }

    &:active {
      border-color: color.adjust($color-blue, $lightness: -8%);
      background-color: color.adjust($color-blue, $lightness: -8%);
    }
  }

  &_outline_yellow {
    border: .0625rem solid $color-yellow;
    color: $color-yellow;

    &:hover,
    &:focus {
      background-color: $color-yellow;
      color: #fff;
    }

    &:active {
      border-color: color.adjust($color-yellow, $lightness: -8%);
      background-color: color.adjust($color-yellow, $lightness: -8%);
    }
  }

  // Filled type.

  &_filled_red {
    background-color: $color-red;
    color: #fff;

    &:hover,
    &:focus {
      background-color: color.adjust($color-red, $lightness: 4%);
      color: #fff;
    }

    &:active {
      background-color: color.adjust($color-red, $lightness: -4%);
    }
  }

  &_filled_blue {
    background-color: $color-blue;
    color: #fff;

    &:hover,
    &:focus {
      background-color: color.adjust($color-blue, $lightness: 4%);
      color: #fff;
    }

    &:active {
      background-color: color.adjust($color-blue, $lightness: -4%);
    }
  }

  &_filled_yellow {
    background-color: $color-yellow;
    color: #6b6b6b;

    &:hover,
    &:focus {
      background-color: color.adjust($color-yellow, $lightness: 5%);
      color: #6b6b6b;
    }

    &:active {
      background-color: color.adjust($color-yellow, $lightness: -5%);
    }
  }
}