@use './utils/mixins' as *;

.textarea {
  color: #6b6b6b;

  h2, p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, .lead {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
  }

  h2 {
    margin-bottom: .5em;
    font-size: 1.75rem;
  }

  .lead {
    margin-bottom: .74em;
    font-size: 1.25rem;
    line-height: 1.05;
  }

  p {
    margin-bottom: 1.25em;
    letter-spacing: .005em;
  }

  @include media-up(md) {
    h2 {
      font-size: 2.125rem;
    }

    .lead {
      font-size: 1.375rem;
    }
  }

  @include media-up(lg) {
    h2 {
      font-size: 2.375rem;
    }

    .lead {
      font-size: 1.5rem;
    }
  }

  @include media-up(xl) {
    h2 {
      font-size: 2.625rem;
    }

    .lead {
      font-size: 1.625rem;
    }
  }
}