@use './utils/variables' as *;
@use './utils/mixins' as *;

.textarea {
  color: #6b6b6b;

  h2, p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, .lead {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
  }

  h2 {
    margin-bottom: .5em;
    font-size: 1.75rem;
  }

  .lead {
    margin-bottom: .74em;
    font-size: 1.25rem;
    line-height: 1.05;
  }

  p {
    margin-bottom: 1.25em;
    letter-spacing: .005em;
  }

  &__note {
    margin: 1.25em 0;
    padding: 15px 20px;
    background-color: $color-blue;
    font-family: 'Century Gothic', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.15;
    color: #fff;

    &_red {
      background-color: $color-red;
    }

    &_yellow {
      background-color: $color-yellow;
    }
  }

  @include media-up(sm) {
    &__note {
      padding: 1.25rem 1.5625rem;
      font-size: 1.1875rem;
    }
  }

  @include media-up(md) {
    h2 {
      font-size: 2.125rem;
    }

    .lead {
      font-size: 1.375rem;
    }

    &__note {
      padding: 1.25rem 2.1875rem;
      font-size: 1.25rem;
    }
  }

  @include media-up(lg) {
    h2 {
      font-size: 2.375rem;
    }

    .lead {
      font-size: 1.5rem;
    }

    &__note {
      font-size: 1.375rem;
    }
  }

  @include media-up(xl) {
    h2 {
      font-size: 2.625rem;
    }

    .lead {
      font-size: 1.625rem;
    }

    &__note {
      margin-top: 1.35em;
      margin-bottom: 1.3em;
      font-size: 1.625rem;
    }
  }
}