include blocks/_logo
include blocks/_navbar
include blocks/_social-btn
include blocks/_textarea
include blocks/_testimonial
include blocks/_program
include blocks/_header
include blocks/_banner
include blocks/_calc
include blocks/_insertion
include blocks/_base-info-grid
include blocks/_rates
include blocks/_testimonials
include blocks/_complex-info
include blocks/_footer

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')
		link(rel='manifest' href='images/favicon/site.webmanifest')
		link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#5bbad5')
		meta(name='msapplication-TileColor' content='#ffffff')
		meta(name='theme-color' content='#ffffff')

		block title
			title Gulp boilerplate

		link( rel='stylesheet' href=`${isDevelopmentMode ? 'style.css' : 'style.min.css'}`)

	body
		- const layoutClasses = [];

		block beforeLayout
		.page-layout(class=layoutClasses)
			block header
				+header({}, ['page-layout__header'])
			main.page-layout__content
				block content
			block footer
				+footer({}, ['page-layout__footer'])

		script(src=`${isDevelopmentMode ? 'js/scripts.bundle.js' : 'js/scripts.bundle.min.js'}`)