extends ../layout

block title
  title KIDS’ WAY — О комплексе

block content
  h1.visually-hidden О комплексе компенсаторики

  +banner({
    src: 'images/banner/image5.jpg',
    alt: 'Баннер «Ребёнок не отстаивает свои границы?»',
  }, ['page-layout__banner'])

  +complex-info({
    content_areas: [
      `<h2>Компенсаторика</h2>
       <p class="lead">&mdash;&nbsp;это комплекс действий, практических рекомендаций, который поможет ребенку экологично проживать себя</p>
       <p>Детям, независимо от&nbsp;возраста, важно проживать свой потенциал правильно и&nbsp;гармонично. Но&nbsp;часто бывает так,
       что от&nbsp;незнания особенностей своего ребенка родители прививают свою манеру поведения, тем самым, не&nbsp;позволяя
       развиться заложенным талантам и&nbsp;способностям ребенка, зажимают его потенциал.</p>
       <p>Например: вы&nbsp;не&nbsp;разговорчивы и&nbsp;любите находиться в&nbsp;тишине, а&nbsp;ваш ребенок рожден с&nbsp;талантом
       по&nbsp;единицам и&nbsp;выражает свой талант непосредственно вербальным путем, используя свои ораторские способности, речь 
       и&nbsp;голос. Вас это жутко раздражает и&nbsp;вы&nbsp;часто срываетесь на&nbsp;него с&nbsp;призывами: &laquo;Замолчи!&raquo;,
       &laquo;Хватит орать&raquo;, &laquo;Прекрати петь&raquo;, &laquo;Не&nbsp;будь таким болтливым&raquo;.</p>`,
      `<p>Ребенку ничего не&nbsp;остаётся как замкнуть эту энергию в&nbsp;себе, задавить свой внутренний потенциал без возможности реализации. 
       В&nbsp;итоге, ребенок не&nbsp;выражает все&nbsp;то, что он&nbsp;по&nbsp;природе своей должен выражать, в&nbsp;результате проблема 
       переходит сначала на&nbsp;эмоциональный фон, а&nbsp;потом и&nbsp;в&nbsp;тело.</p>
       <div class="textarea__image textarea__image_center">
        <img src="images/logo_square_filled.svg" width="247" height="240" alt="KIDS’ WAY">
       </div>
       <p>Но&nbsp;ведь можно пойти другим путем и&nbsp;упростить жизнь своего чада. Дать возможность проживать свой потенциал здоровым образом, 
       проживать его так, как заложено в&nbsp;его структуре, начиная с&nbsp;самого раннего возраста, начиная с&nbsp;рождения!</p>`,
      `<div class="textarea__image textarea__image_center">
        <img src="images/shapes-set1.svg" width="386" height="75" alt="Набор фигур 1">
       </div>
       <p>Компенсаторика&nbsp;&mdash; это комплекс действий, практических рекомендаций, который поможет ребенку экологично проживать себя, 
       сбрасывать излишки энергий и&nbsp;наращивать&nbsp;те, которые в&nbsp;дефиците, тем самым помогая ребенку гармонично проходить все этапы 
       взросления и&nbsp;становления.</p>
       <p>Компенсаторика направлена на&nbsp;помощь в&nbsp;выборе хобби ребенка, спортивных секций, подходящих именно для его 
       &laquo;структуры&raquo;. Ведь грамотно подобранный вид деятельности (спорт, хобби) благостно скажется на&nbsp;моральном 
       и&nbsp;физическом состоянии малыша&nbsp;и, поможет избежать изнурительных тренировок, постоянной смены хобби и&nbsp;развивающих занятий.</p>
       <div class="textarea__image textarea__image_center">
        <img src="images/shapes-set2.svg" width="386" height="95" alt="Набор фигур 2">
       </div>`
    ],
    programs: {
      heading: 'Блок компенсаторики включает в&nbsp;себя:',
      list: [
        {
          icon: {
            src: 'images/svg/programs/puzzle.svg',
            alt: 'Пазл',
          },
          title: 'Рекомендации',
          caption: 'как экологично и&nbsp;гармонично проживать<br class="d-none d-lg-block"> потенциал (талант) ребенка',
        },
        {
          icon: {
            src: 'images/svg/programs/rocket.svg',
            alt: 'Ракета',
          },
          title: 'Потенциальные профессии',
          caption: 'которые в&nbsp;будущем подойдут именно<br class="d-none d-lg-block"> вашему ребенку',
        },
        {
          icon: {
            src: 'images/svg/programs/toy.svg',
            alt: 'Игрушка',
          },
          title: 'Спорт (кружки)',
          caption: 'который подойдет именно вашему чаду, исходя<br class="d-none d-xl-block"> из его особенностей, а&nbsp;также&nbsp;то, что категорически запрещено и&nbsp;негативно скажется на&nbsp;его здоровье',
        },
        {
          icon: {
            src: 'images/svg/programs/pacifier.svg',
            alt: 'Пустышка',
            color: 'yellow',
          },
          title: 'Особенности питания',
        },
        {
          icon: {
            src: 'images/svg/programs/tic-taс.svg',
            alt: 'Крестики-нолики',
            color: 'red',
          },
          title: 'Практические рекомендации',
          caption: 'для общения со&nbsp;сверстниками',
        },
        {
          icon: {
            src: 'images/svg/programs/game.svg',
            alt: 'Игра',
          },
          title: 'Развивающие игрушки (игры)',
        },
      ],
    },
  })