extends ../layout

block title
  title KIDS’ WAY — Об основателях проекта

block content
  h1.visually-hidden Об основателях

  +banner({
    src: 'images/banner/image3.jpg',
    alt: 'Баннер «Постоянные конфликты в школе?»',
  }, ['page-layout__banner'])

  +base-info-grid({
    illustration: {
      src: 'images/placeholder-510x560.svg',
      width: 510,
      height: 560,
      alt: 'Любовь и Мила',
    },
    textarea: `<h2>Всем привет!</h2>
               <p class="lead">Мы&nbsp;&mdash; Любовь и&nbsp;Мила, основатели проекта
                Kids&rsquo;Way&nbsp;&mdash; первой нумерологической платформы
                по&nbsp;раскрытию детского потенциала</p>
               <p>Как преподаватель физики, инженер современных технологий, директор
                  по&nbsp;персоналу, экономист и&nbsp;психосоматолог (это только часть наших ролей на&nbsp;двоих)&nbsp;&mdash; мы&nbsp;обладаем
                  не&nbsp;только глубокими теоретическими знаниями, но&nbsp;и&nbsp;владеем обширным спектром практических наработок, начиная
                  с&nbsp;курсов детского массажа, преподавательской деятельности, прикладной детской психологии, заканчивая такими современными
                  инструментами как&nbsp;&mdash; психосоматика и&nbsp;нумерология!</p>
               <p>Мы&nbsp;не&nbsp;только специалисты, добившиеся результатов в&nbsp;своей
                  профессиональной деятельности, мы&nbsp;еще и&nbsp;мамы со&nbsp;стажем. В&nbsp;силу своих индивидуальных качеств
                  и&nbsp;стремления всегда получать качественный результат&nbsp;&mdash; мы&nbsp;и&nbsp;к&nbsp;материнству
                  подошли очень основательно. Изучили очень много практической литературы, освоили необходимые инструменты
                  для понимания и&nbsp;воспитания своих детей!</p>
               <p>И&nbsp;вот теперь мы&nbsp;хотим поделиться своим опытом с&nbsp;миром,
                  поделиться всеми своими наработками с&nbsp;вами, дорогие родители.</p>`,
  })