extends ../layout

block title
  title KIDS’ WAY — О проекте

block content
  h1.visually-hidden О проекте

  +banner({
    src: 'images/banner/image6.jpg',
    alt: 'Баннер «Малыш агрессивен и несдержан?»',
  }, ['page-layout__banner'])

  +complex-info({
    content_areas: [
      `<h2>Проект KIDS’ WAY</h2>
       <p class="lead">Наши дети&nbsp;&mdash; это наша проекция!</p>
       <p>Дети всегда подсвечивают&nbsp;то, что нам нужно изменить в&nbsp;себе,
       однако, в&nbsp;большинстве случаев, мы&nbsp;стремимся изменить ни&nbsp;себя, а&nbsp;своего ребенка.</p>
       <p>Проект KIDS&rsquo; WAY создан для того, чтобы помочь родителям понять, что наши
       дети&nbsp;&mdash; это наше зеркало. Родители напрямую влияют на&nbsp;детей своими чертами характера.
       Поведение перенимаются нашими детьми, которое потом будет проявляться у&nbsp;них в&nbsp;старшем
       возрасте. Наш проект поможет сделать жизнь вашего ребенка счастливой и&nbsp;гармоничной.</p>
       <div class="textarea__image">
        <img src="images/logo.svg" width="318" height="125" alt="KIDS’ WAY">
       </div>`,
      `<div class="textarea__note">
        <p>На&nbsp;нашем сайте вы&nbsp;можете получить полный разбор матрицы своего ребенка, а&nbsp;также получить
        полный пакет компенсаторики, с&nbsp;помощью которой можно наработать недостающие энергии, а&nbsp;также
        отработать&nbsp;то, что в&nbsp;переизбытке.</p>
        <div class="textarea__image">
          <img src="images/shapes-set3.svg" width="160" height="47" alt="Набор фигур">
        </div>
      </div>
      <p>Это уникальная инструкция, которая сбалансирует состояние и&nbsp;поведение вашего чада. Так как, увидев
      Матрицу вашего ребенка еще в&nbsp;раннем возрасте, будет легче помочь ему справляться с&nbsp;минусами
      энергий и&nbsp;направлять в&nbsp;правильное русло его потенциал.</p>`,
      `<p class="lead">Матрицы родителей и&nbsp;детей тесно&nbsp;связаны!</p>
       <p>Поэтому полезно изучить не&nbsp;только Матрицу своего ребенка, но&nbsp;также свою Матрицу. Это поможет
       вам найти индивидуальный подход к&nbsp;своему чаду, понять, как вам себя с&nbsp;ним вести, а&nbsp;также
       поможет избежать множество психологических проблем в&nbsp;будущем.</p>
       <p>Ведь знание Матриц поможет найти баланс между поколениями.</p>
       <div class="textarea__image textarea__image_center">
        <img src="images/family.jpg" width="590" height="321" alt="Семья">
       </div>`
    ],
  }, ['complex-info_extended'])