extends ../layout

block title
  title KIDS’ WAY — Детская матрица

block content
  h1.visually-hidden О&nbsp;детской матрице

  +banner({
    src: 'images/banner/image4.jpg',
    alt: 'Баннер «Нет взаимопонимания с ребёнком?»',
  }, ['page-layout__banner'])

  +base-info-grid({
    illustration: {
      src: 'images/mother.jpg',
      width: 510,
      height: 461,
      alt: 'Мама с ребёнком',
      type: 'extended',
      caption: 'Каждый человек приходит в&nbsp;этот мир с&nbsp;определенным предназначением и&nbsp;жизненной миссией, которые определяются еще до&nbsp;рождения.',
    },
    textarea: `<h2>Детская матрица</h2>
               <p class="lead">Дата рождения не&nbsp;выбирается просто так, она уже подобрана заранее,
                и&nbsp;ребенок приходит в&nbsp;этот мир в&nbsp;свою дату</p>
               <p>Знание того, почему ребенок пришел в&nbsp;эту жизнь, может помочь родителям лучше понять и&nbsp;поддерживать его в&nbsp;развитии, учитывая его индивидуальные потребности и&nbsp;цели. Это также поможет родителям развить глубокую связь и&nbsp;понимание с&nbsp;ребенком, особенно в&nbsp;трудные моменты его жизни.</p>
               <div class="textarea__note">
                <p>Детская матрица&nbsp;&mdash; это уникальное сочетание энергий, которое обладает
                   своими оттенками и&nbsp;проявлениями в&nbsp;характере, поведении каждого ребенка.</p>
               </div>
               <p>Это индивидуальная подсказка для родителей, которая укажет на&nbsp;особенности малыша и&nbsp;поможет вырастить его счастливым, гармоничным и&nbsp;успешным.</p>
               <p>Матрица раскрывает целый ряд характеристик ребенка, его таланты и&nbsp;склонности, его зоны роста, особенности воспитания, а&nbsp;самое главное раскрывает &laquo;почву&raquo;, в&nbsp;которой ребенок &laquo;созревает&raquo; и&nbsp;проходит все этапы становления.</p>
               <p>Правильная и&nbsp;плодотворная почва в&nbsp;детстве&nbsp;&mdash; залог здорового и&nbsp;успешного человека во&nbsp;взрослой жизни.</p>
               <p>Детская матрица поможет избежать многих ошибок в&nbsp;воспитании чада и&nbsp;даст правильный толчок к&nbsp;успешному будущему.</p>`,
  })