extends ../layout

block title
  title Kids’Way — Первая нумерологическая платформа по раскрытию детского потенциала

block beforeLayout
  - layoutClasses.push('page-layout_home')

block content
  | Content