extends ../layout

block title
  title KIDS’ WAY — Первая нумерологическая платформа по раскрытию детского потенциала

block beforeLayout
  - layoutClasses.push('page-layout_home')

block content
  h1.visually-hidden KIDS’ WAY — платформа по раскрытию детского потенциала

  +banner({
    src: 'images/banner/image1.jpg',
    alt: 'Баннер «Ребёнок часто болеет?»',
  }, ['page-layout__banner'])

  +calc({
    square: [
      {
        text: '11',
        color: 'yellow',
      },
      {
        text: '4',
        color: 'blue',
      },
      {
        text: '7',
        color: 'red',
      },
      {
        text: '222',
        color: 'red',
      },
      {
        text: '5',
        color: 'yellow',
      },
      {
        text: '-',
        color: 'blue',
      },
      {
        text: '3',
        color: 'yellow',
      },
      {
        text: '6',
        color: 'blue',
      },
      {
        text: '9',
        color: 'red',
      },
    ],
    legends: [
      {
        text: 'норма',
        color: 'blue',
      },
      {
        text: 'талант',
        color: 'red',
      },
      {
        text: 'зона роста',
        color: 'yellow',
      },
    ],
    messages: [
      {
        heading: 'Психотип &laquo;Лидера&raquo;, &laquo;Инициатора&raquo;&nbsp;&mdash;',
        desc: `<p>Если кто-то из&nbsp;родителей доминирующий, активно работающий, постоянно что-то делающий&nbsp;&mdash; приходит ребенок 1&nbsp;Психотипа.</p>
               <p>Ребенок оптимист и&nbsp;&laquo;Зажигалочка&raquo;.<br>Много говорит, обещает, фантазирует, но&nbsp;из&nbsp;всего этого делает очень мало. А&nbsp;все потому, что мама или папа слишком активные, которые могут за&nbsp;него сделать и&nbsp;его работу, т&nbsp;к&nbsp;им&nbsp;лишь&nbsp;бы что-то делать.</p>`,
      },
      {
        heading: 'Почва &laquo;0&raquo;',
        desc: `<p>Необходимое &laquo;плодотворное&raquo; пространство в&nbsp;детстве, где у&nbsp;ребенка полная внутренняя свобода, понимание себя и&nbsp;разрешение быть внутри себя любым идеям, мыслям, желаниям. Без каких-либо запретов.</p>`,
      },
    ],
    illustration: {
      src: 'images/logo_square.png',
      width: 285,
      height: 281,
      alt: 'Логотип «KIDS’ WAY»',
    }
  }, ['page-layout__calc'])

  +insertion({
    heading: 'Компенсаторика',
    button: {
      href: '#',
      text: 'Узнать подробнее',
    },
  }, ['page-layout__insertion'])

  a.btn.btn_outline_red.btn_rounded_sm.page-layout__btn.page-layout__btn_consult(href='#') Консультация эксперта