extends ../layout

block title
  title KIDS’ WAY — Отзывы

block content
  h1.visually-hidden Отзывы о&nbsp;нашем проекте

  +banner({
    src: 'images/banner/image2.jpg',
    alt: 'Баннер «Нет взаимопонимания с ребёнком?»',
  }, ['page-layout__banner'])

  +testimonials({
    heading: 'Отзывы:',
    list: [
      {
        author_info: {
          title: 'Евгений',
          sub_title: 'папа Влада, 8&nbsp;лет',
        },
        columns: [
          `<p>Я&nbsp;решил попробовать нумерологический разбор ради интереса, так как ранее относился скептически. Но&nbsp;изучить своего единственного сына стал очень интересным, да&nbsp;и&nbsp;в&nbsp;последнее время стал замечать&nbsp;&mdash; что у&nbsp;него есть некие проблемы со&nbsp;здоровьем. А&nbsp;именно, частые насморки и&nbsp;ангина.</p>
          <p>Мой ребенок всегда казался мне очень творческим, но&nbsp;когда мне показали&nbsp;&mdash; что той самой энергии, которая отвечает за&nbsp;творческую составляющую у&nbsp;него в&nbsp;4&nbsp;раза больше нормы, мне стало еще более понятным.</p>
          <p>Влад очень много говорил с&nbsp;детства, его &laquo;радио&raquo; не&nbsp;переставало замолкать с&nbsp;самого первого дня, как он&nbsp;начал говорить. Но&nbsp;так как мы&nbsp;очень много с&nbsp;супругой работаем, частенько дома хотели просто тишины&nbsp;и, образно говоря, просили помолчать сына. Через полтора года после того&nbsp;&mdash; как он&nbsp;заговорил мы&nbsp;заметили, что он&nbsp;стал странно молчалив и&nbsp;проблемы с&nbsp;лор-органами усилились.</p>`,
          `<blockquote class="textarea__blockquote textarea__blockquote_red">
            <p>Компенсаторика направлена на&nbsp;помощь в&nbsp;выборе хобби ребенка, спортивных секций, подходящих именно для его &laquo;структуры&raquo;.</p>
          </blockquote>
          <p>Это и&nbsp;стало первопричиной обращения к&nbsp;нумерологии. По&nbsp;итогу мы&nbsp;поняли&nbsp;&mdash; что мы&nbsp;сами своими запретами на&nbsp;речь и&nbsp;проявление заблокировали потенциал&nbsp;и, у&nbsp;ребенка вся эта энергия перешла в&nbsp;блок в&nbsp;эмоциональном плане и&nbsp;далее в&nbsp;теле.</p>
          <p>Спасибо, что нам помогли и&nbsp;открыли глаза, так как мы&nbsp;просто мучали нашего сына. Отдав ребенка на&nbsp;вокал и&nbsp;рисование, мы&nbsp;увидели плоды очень быстро, наш Влад снова стал активным, разговорчивым&nbsp;и, проблемы с&nbsp;горлом просто сошли на&nbsp;нет.</p>
          <p>Спасибо за&nbsp;такой классный инструмент. Всем родителям рекомендую.</p>`,
        ],
      },
      {
        author_info: {
          title: 'Александра',
          sub_title: 'мама Евы, 5&nbsp;лет',
        },
        content: `<p>Компенсаторика&nbsp;&mdash; это комплекс действий, практических рекомендаций, который поможет ребенку экологично проживать себя, сбрасывать излишки энергий и&nbsp;наращивать&nbsp;те, которые в&nbsp;дефиците, тем самым помогая ребенку гармонично проходить все этапы взросления и&nbsp;становления.</p>
                  <p>Компенсаторика направлена на&nbsp;помощь в&nbsp;выборе хобби ребенка, спортивных секций, подходящих именно для его &laquo;структуры&raquo;.</p>
                  <p>Ведь грамотно подобранный вид деятельности (спорт, хобби) благостно скажется на&nbsp;моральном и&nbsp;физическом состоянии малыша&nbsp;и, поможет избежать изнурительных тренировок, постоянной смены хобби и&nbsp;развивающих занятий.</p>
                  <div class="textarea__image textarea__image_center">
                    <img src="images/testimonial-figure.svg" width="135" height="124" alt="Фигура">
                  </div>`,
        modifier: ['testimonial_color_red', 'testimonial_has-bg'],
      },
    ]
  })