// Include fonts.
@use './base/fonts';

// Include grid.
@use './base/grid';

// Include mixins.
@use "sass:color";
@use './utils/mixins' as *;

// Include helpers.
@use './utils/helpers';

// Include blocks.
@use './blocks/btn';
@use './blocks/field';
@use './blocks/radio';
@use './blocks/social-btn';
@use './blocks/textarea';
@use './blocks/testimonial';
@use './blocks/program';
@use './blocks/logo';
@use './blocks/navbar';
@use './blocks/header';
@use './blocks/banner';
@use './blocks/calc';
@use './blocks/insertion';
@use './blocks/base-info-grid';
@use './blocks/rates';
@use './blocks/testimonials';
@use './blocks/complex-info';
@use './blocks/footer';

// Global styles.
*,
::before,
::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

.page-layout {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  font-family: Inter, sans-serif;

  &__content {
		flex: 1 1 auto;
    padding-bottom: 2.5rem;
	}

  &__banner:not(:last-child),
  &_home &__calc:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  &_home &__btn_consult {
    display: flex;
    width: 13.875rem;
    min-height: 2.625rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
  }

  @include media-up(md) {
    &__content {
      padding-bottom: 3.75rem;
    }

    &__banner:not(:last-child),
    &_home &__calc:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &_home &__btn_consult {
      margin-top: 3.75rem;
    }
  }

  @include media-up(lg) {
    &__banner:not(:last-child),
    &_home &__calc:not(:last-child) {
      margin-bottom: 3.75rem;
    }
  }

  @include media-up(xl) {
    &__content {
      padding-bottom: 4.875rem;
    }
  }
}

a {
  transition: color .35s;
  color: #789eea;

  &:hover,
  &:focus {
    color: color.adjust(#789eea, $lightness: 7%);
  }
}

img {
  max-width: 100%;
  height: auto;
}